<ion-view view-title="Survey">
    <ion-content>

        <!-- Question 0 starts here-->
        <div>
            <div>
                <div ng-bind-html="json_q0"></div>
                <p ng-bind-html="pagebreak"></p>
            </div>
        </div>
        <!--Question 0 ends here -->

        <!-- Question 1 starts here-->
        <div>
            <div>
                <div ng-bind-html="json_q1"></div>

            </div>
        </div>
        <!--Question 1 ends here -->


        <!-- Question 2 starts here-->
        <div>
            <div>
                <div ng-bind-html="json_q2"></div>

            </div>
        </div>
        <!--Question 2 ends here -->


        <!-- Question 3 starts here-->
        <div>
            <div>
                <div ng-bind-html="json_q3"></div>
            </div>
            <p ng-bind-html="pagebreak"></p>
        </div>
        <!--Question 3 ends here -->

        <!-- Question 4 starts here-->
        <div>
            <ion-list>
                <ion-item style="background-color: #dddddd">
                    <ion-avatar item-left style="float: left;">
                        <img style="height: 30px;width: 30px" src="img/Numbers/Q.png"/>
                    </ion-avatar>
                    <h2 class="title" ng-bind-html="json_q4" style="font-size: 20px; padding-left: 15px"></h2>
                </ion-item>
            </ion-list>
            <div>
                <div ng-bind-html="json_q4_op1"></div>
                <div ng-bind-html="json_q4_op2"></div>
                <input type="hidden" id="hdGender">
            </div>
            <p ng-bind-html="pagebreak"></p>
        </div>
        <!-- Question 4 ends here -->

        <!--  Question 5 starts here -->
        <ion-list>
            <ion-item style="background-color: #dddddd">
                <ion-avatar item-left style="float: left;">
                    <img style="height: 30px;width: 30px" src="img/Numbers/Q.png"/>
                </ion-avatar>
                <h2 class="title" ng-bind-html="json_q5" style="font-size: 20px; padding-left: 15px"></h2>
            </ion-item>
            <ion-item>
                <div style="text-align: center">
                    <label class="item datee item-input bounceInLeft animated">
                        <input style="text-align: center" id="date_date" ng-model="date" type="date" data-role="date">
                    </label>
                    <p ng-bind-html="pagebreak"></p>
                </div>

            </ion-item>
        </ion-list>
        <!--  Question 5 ends here -->


        <!--  Question 6 starts here -->
        <ion-list>
            <ion-item style="background-color: #dddddd">
                <ion-avatar item-left style="float: left;">
                    <img style="height: 30px;width: 30px" src="img/Numbers/Q.png"/>
                </ion-avatar>
                <h2 class="title" ng-bind-html="json_q6" style="font-size: 20px; padding-left: 15px"></h2>
            </ion-item>
            <ion-item>
                <div style="text-align: center" ng-controller="HomeCtrl">
                    <!--  <div ng-bind-html="json_q6_op"></div>  -->
                    <select class="bounceInLeft animated" id="cntryy" ng-options="item for item in countries"
                            ng-model="cntry">
                        <label for="cntryy" ng-repeat="item in countries">{{item}}</label>
                    </select>
                    <input type="hidden" value="{{cntry}}" id="hdCntry">
                </div>
                <p ng-bind-html="pagebreak"></p>

            </ion-item>
        </ion-list>
        <!--  Question 6 ends here -->

        <!--Submit Button-->
        <ion-list>
            <ion-item>
                <div>
                    <button style="float: right" class="button button-royal" ng-click="Next1()">Next</button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
