<ion-view view-title="Survey">
    <ion-content>
        <ion-list>
            <ion-item style="text-align: center">
                <button nav-clear menu-close class="button button-royal" ng-click="ShowData()">Show Your data</button>
            </ion-item>
            <hr>
            <ion-item>
                <div id="showdata">
                    <ion-label>Thanks for Taking Survey. We really appreciate this. Please click on the button to see
                        your result
                    </ion-label>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>