<ion-view view-title="Survey">
  <ion-content>
    <ion-list>
      <ion-item>
        <table class="matrix">
          <thead>
          <tr>

            <td class="c1 BorderColor" width="25%">
              <div class="WidthStrut" style="width:433px"></div>
              &nbsp; </td>

              <th scope="col" width="15%" ng-bind-html="json_q7_op1">
            </th>
              <th scope="col" width="15%" ng-bind-html="json_q7_op2">
            </th>
              <th scope="col" width="15%" ng-bind-html="json_q7_op3">
            </th>
              <th scope="col" width="15%" ng-bind-html="json_q7_op4">
            </th>
              <th scope="col" width="15%" ng-bind-html="json_q7_op5">
            </th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <th>
    <span>
      <label ng-bind-html="json_q7_s1"></label>
    </span>
            </th>

            <td><input name="mat_1" type="radio" id="mat_1_1"><label for="mat_1_1"></label></td>
            <td><input name="mat_1" type="radio" id="mat_1_2"><label for="mat_1_2"></label></td>
            <td><input name="mat_1" type="radio" id="mat_1_3"><label for="mat_1_3"></label></td>
            <td><input name="mat_1" type="radio" id="mat_1_4"><label for="mat_1_4"></label></td>
            <td><input name="mat_1" type="radio" id="mat_1_5"><label for="mat_1_5"></label></td>
          </tr>

          <tr>
            <th>
    <span>
      <label ng-bind-html="json_q7_s2"></label>
    </span>
            </th>
            <td><input name="mat_2" type="radio" id="mat_2_1"><label for="mat_2_1"></label></td>
            <td><input name="mat_2" type="radio" id="mat_2_2"><label for="mat_2_2"></label></td>
            <td><input name="mat_2" type="radio" id="mat_2_3"><label for="mat_2_3"></label></td>
            <td><input name="mat_2" type="radio" id="mat_2_4"><label for="mat_2_4"></label></td>
            <td><input name="mat_2" type="radio" id="mat_2_5"><label for="mat_2_5"></label></td>
          </tr>

          <tr>
            <th>
    <span>
      <label ng-bind-html="json_q7_s3"></label>
    </span>
            </th>
            <td><input name="mat_3" type="radio" id="mat_3_1"><label for="mat_3_1"></label></td>
            <td><input name="mat_3" type="radio" id="mat_3_2"><label for="mat_3_2"></label></td>
            <td><input name="mat_3" type="radio" id="mat_3_3"><label for="mat_3_3"></label></td>
            <td><input name="mat_3" type="radio" id="mat_3_4"><label for="mat_3_4"></label></td>
            <td><input name="mat_3" type="radio" id="mat_3_5"><label for="mat_3_5"></label></td>
          </tr>

          <tr>
              <th>
    <span>
      <label ng-bind-html="json_q7_s4"></label>
    </span>
              </th>
              <td><input name="mat_4" type="radio" id="mat_4_1"><label for="mat_4_1"></label></td>
              <td><input name="mat_4" type="radio" id="mat_4_2"><label for="mat_4_2"></label></td>
              <td><input name="mat_4" type="radio" id="mat_4_3"><label for="mat_4_3"></label></td>
              <td><input name="mat_4" type="radio" id="mat_4_4"><label for="mat_4_4"></label></td>
              <td><input name="mat_4" type="radio" id="mat_4_5"><label for="mat_4_5"></label></td>
          </tr>

          <tr>
              <th>
    <span>
      <label ng-bind-html="json_q7_s5"></label>
    </span>
              </th>
              <td><input name="mat_5" type="radio" id="mat_5_1"><label for="mat_5_1"></label></td>
              <td><input name="mat_5" type="radio" id="mat_5_2"><label for="mat_5_2"></label></td>
              <td><input name="mat_5" type="radio" id="mat_5_3"><label for="mat_5_3"></label></td>
              <td><input name="mat_5" type="radio" id="mat_5_4"><label for="mat_5_4"></label></td>
              <td><input name="mat_5" type="radio" id="mat_5_5"><label for="mat_5_5"></label></td>
          </tr>

          <tr>
              <th>
    <span>
      <label ng-bind-html="json_q7_s6"></label>
    </span>
              </th>
              <td><input name="mat_6" type="radio" id="mat_6_1"><label for="mat_6_1"></label></td>
              <td><input name="mat_6" type="radio" id="mat_6_2"><label for="mat_6_2"></label></td>
              <td><input name="mat_6" type="radio" id="mat_6_3"><label for="mat_6_3"></label></td>
              <td><input name="mat_6" type="radio" id="mat_6_4"><label for="mat_6_4"></label></td>
              <td><input name="mat_6" type="radio" id="mat_6_5"><label for="mat_6_5"></label></td>
          </tr>

          <tr>
              <th>
    <span>
      <label ng-bind-html="json_q7_s7"></label>
    </span>
              </th>
              <td><input name="mat_7" type="radio" id="mat_7_1"><label for="mat_7_1"></label></td>
              <td><input name="mat_7" type="radio" id="mat_7_2"><label for="mat_7_2"></label></td>
              <td><input name="mat_7" type="radio" id="mat_7_3"><label for="mat_7_3"></label></td>
              <td><input name="mat_7" type="radio" id="mat_7_4"><label for="mat_7_4"></label></td>
              <td><input name="mat_7" type="radio" id="mat_7_5"><label for="mat_7_5"></label></td>
          </tr>

          <tr>
              <th>
    <span>
      <label ng-bind-html="json_q7_s8"></label>
    </span>
              </th>
              <td><input name="mat_8" type="radio" id="mat_8_1"><label for="mat_8_1"></label></td>
              <td><input name="mat_8" type="radio" id="mat_8_2"><label for="mat_8_2"></label></td>
              <td><input name="mat_8" type="radio" id="mat_8_3"><label for="mat_8_3"></label></td>
              <td><input name="mat_8" type="radio" id="mat_8_4"><label for="mat_8_4"></label></td>
              <td><input name="mat_8" type="radio" id="mat_8_5"><label for="mat_8_5"></label></td>
          </tr>
          </tbody>
        </table>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item>
        <div>
          <button style="float: left" class="button button-royal" ng-click="Back1()">Back</button>
          <button style="float: right" class="button button-royal" ng-click="Next2()">Next</button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>