<ion-view view-title="Survey">
    <ion-content>
        <ion-list>
            <ion-item style="border: none !important;">
                <table class="matrix">
                    <thead>
                    <tr>

                        <td class="c1 BorderColor" width="25%">
                            <div class="WidthStrut" style="width:433px"></div>
                            &nbsp; </td>

                        <th scope="col" width="15%" id="json_q7_op1" ng-bind-html="json_q7_op1">
                        </th>
                        <th scope="col" width="15%" id="json_q7_op2" ng-bind-html="json_q7_op2">
                        </th>
                        <th scope="col" width="15%" id="json_q7_op3" ng-bind-html="json_q7_op3">
                        </th>
                        <th scope="col" width="15%" id="json_q7_op4" ng-bind-html="json_q7_op4">
                        </th>
                        <th scope="col" width="15%" id="json_q7_op5" ng-bind-html="json_q7_op5">
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th>
    <span>
      <label ng-bind-html="json_q8_s1"></label>
    </span>
                        </th>
                        <td ng-bind-html="json_mat0_r1"></td>
                        <td ng-bind-html="json_mat0_r2"></td>
                        <td ng-bind-html="json_mat0_r3"></td>
                        <td ng-bind-html="json_mat0_r4"></td>
                        <td ng-bind-html="json_mat0_r5"></td>
                    </tr>

                    <tr>
                        <th>
    <span>
      <label ng-bind-html="json_q8_s2"></label>
    </span>
                        </th>
                        <td ng-bind-html="json_mat1_r1"></td>
                        <td ng-bind-html="json_mat1_r2"></td>
                        <td ng-bind-html="json_mat1_r3"></td>
                        <td ng-bind-html="json_mat1_r4"></td>
                        <td ng-bind-html="json_mat1_r5"></td>
                    </tr>

                    <tr>
                        <th>
    <span>
      <label ng-bind-html="json_q8_s3"></label>
    </span>
                        </th>
                        <td ng-bind-html="json_mat2_r1"></td>
                        <td ng-bind-html="json_mat2_r2"></td>
                        <td ng-bind-html="json_mat2_r3"></td>
                        <td ng-bind-html="json_mat2_r4"></td>
                        <td ng-bind-html="json_mat2_r5"></td>
                    </tr>

                    <tr>
                        <th>
    <span>
      <label ng-bind-html="json_q8_s4"></label>
    </span>
                        </th>
                        <td ng-bind-html="json_mat3_r1"></td>
                        <td ng-bind-html="json_mat3_r2"></td>
                        <td ng-bind-html="json_mat3_r3"></td>
                        <td ng-bind-html="json_mat3_r4"></td>
                        <td ng-bind-html="json_mat3_r5"></td>
                    </tr>

                    <tr>
                        <th>
    <span>
      <label ng-bind-html="json_q8_s5"></label>
    </span>
                        </th>
                        <td ng-bind-html="json_mat4_r1"></td>
                        <td ng-bind-html="json_mat4_r2"></td>
                        <td ng-bind-html="json_mat4_r3"></td>
                        <td ng-bind-html="json_mat4_r4"></td>
                        <td ng-bind-html="json_mat4_r5"></td>
                    </tr>

                    <tr>
                        <th>
    <span>
      <label ng-bind-html="json_q8_s6"></label>
    </span>
                        </th>
                        <td ng-bind-html="json_mat5_r1"></td>
                        <td ng-bind-html="json_mat5_r2"></td>
                        <td ng-bind-html="json_mat5_r3"></td>
                        <td ng-bind-html="json_mat5_r4"></td>
                        <td ng-bind-html="json_mat5_r5"></td>
                    </tr>

                    <tr>
                        <th>
    <span>
      <label ng-bind-html="json_q8_s7"></label>
    </span>
                        </th>
                        <td ng-bind-html="json_mat6_r1"></td>
                        <td ng-bind-html="json_mat6_r2"></td>
                        <td ng-bind-html="json_mat6_r3"></td>
                        <td ng-bind-html="json_mat6_r4"></td>
                        <td ng-bind-html="json_mat6_r5"></td>
                    </tr>

                    <tr>
                        <th>
    <span>
      <label ng-bind-html="json_q8_s8"></label>
    </span>
                        </th>
                        <td ng-bind-html="json_mat7_r1"></td>
                        <td ng-bind-html="json_mat7_r2"></td>
                        <td ng-bind-html="json_mat7_r3"></td>
                        <td ng-bind-html="json_mat7_r4"></td>
                        <td ng-bind-html="json_mat7_r5"></td>
                    </tr>
                    </tbody>
                </table>
            </ion-item>
        </ion-list>


        <ion-list>
            <ion-item>
                <div>
                    <button style="float: left" class="button button-royal" ng-click="Back2()">Back</button>
                    <button style="float: right" class="button button-royal" ng-click="Next3()">Next</button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>